* {
  border: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.wrapper {
  width: 28rem;
  height: 60rem;
  border-radius: 0 1rem 1rem 0;
}

.display {
  width: 27.3rem;
  height: 20%;
  font-size: 4rem;
  text-align: end;
  outline: none;
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-right: .5rem;
}

.moreFunctions {
  width: 100%;
  height: 10%;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-around;

}

.moreFunctions>button {
  background-color: #a7a4a7;
  border: none;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  outline: none;

}

.wrapperButton {
  height: 70%;
  width: 100%;
  display: flex;
}

.left {
  width: 75%;
  height: 100%;
}

.functionButtons1 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.numbers {
  width: 100%;
  height: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.functionButtons2 {
  width: 25%;
  height: 98%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
}

.functionButtons2>button {
  background-color: #fe9203;
  color: white;
  border: none;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  outline: none;
}

.functionButtons1>button {
  background-color: #a7a4a7;
  border: none;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  outline: none;

}


.numbers>button {
  background-color: #353235;
  color: white;
  border: none;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  outline: none;
  justify-content: baseline;
  margin-top: .5rem;
}

.numbers>button:nth-child(10) {
  height: 6rem;
  width: 13rem;
  border-radius: 5rem;
  margin-top: 0.5rem;
  align-self: baseline;
}

button {
  font-size: 3rem;
}

.wrapper,
.display {
  background-color: #000;
}


.timeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.toggleButton {
  opacity: 0.5;
  width: 7rem;
  height: 5rem;
  font-size: 2rem;
  text-align: center;
  border-radius: .5rem;
  padding-top: 1.2rem;
  margin-top: 1.5rem;
  }

.timerButtons {
width: 7rem;
height: 5rem;
font-size: 2rem;
text-align: center;
border-radius: .5rem;
padding-top: 1.2rem;
margin-top: 1.5rem;
}

#start {
background-color: #5cb85c;
}

#stop {
  background-color: #d9534f;
}

#pause {
  background-color:#337ab7;
}

#reset {
  background-color:#f0ad4e;
}

#timerTime {
  font-size: 3rem;
}

span{
  margin-right: 10px;
}
